@import url('https://fonts.googleapis.com/css?family=Salsa|Architects+Daughter|Cinzel&display=swap');
/* data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC */

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  margin-top: 20px;
  color: #999;
  text-align: center;
  /* img size is 50x50 */
  background: url("./media/background.jpg") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 4.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 4.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 4.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 4.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
body::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}

header {
  align-items: center;
  justify-content: center;
  text-align: center;
}

header h1 {
  font-family: Salsa;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.01em;
  margin: 20px 0px 15px 0;
  text-shadow: -1px 1px 0px #000,
  /* 1px 1px 2px #000, */
  /* 1px -1px 0 #000, */
  -1px -1px 0 #000;

  color: #000000;
}

.logged-as{
  margin: 0;
}

.logged-in-btn {
  margin-bottom: 10px;
}

.hTitle {
  flex-direction: column;
}

.supBtn{
  margin: 10px 0 0 20px;
  padding: 10px;
}

.homeBtn {
  margin: 10px 20px 0 0;
  background-color: transparent;
  border: none;
  padding: 10px 10px;
}

header button, header button:active {
  background-color: transparent;
  border: none;
  padding: 10px 10px;
}

.under{
  display: flex;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: Salsa;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.015em;
  text-shadow: -1px 1px 0px #000000, -2px -1px 0 #6d3d01, -2px 2px 0 #6d3d01, -7px 5px 4px #676767;
  color: #0592c7;
}

h3 {
  color: rgb(0, 0, 0);
  font-family: Cinzel;

}

select{
  background: #C4C4C4;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 11px;
  height: 28px;
  width: 80%
}

a {
  text-decoration: none;
  color: #5a5959;
  text-shadow: 0 0 10px white, 0 0 8px white, 0 0 6px white, 0 0 5px white, 0 0 4px white, 0 0 3px white, 0 0 2px white;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

p{
  color: #5a5959;
}
#stateSelect {
  margin-bottom: 20px;
}
.App {
  background-color: #ffffff99;
  box-shadow: 1px 1px 28px grey;
  padding-bottom: 49px;

}

.vOne {
  position: absolute;
  left: 0%;
  right: 57.44%;
  top: 58.82%;
  bottom: 41.18%;

  border: 4px solid #000000;
}

.vTwo {
  position: absolute;
  left: 57.19%;
  right: 0%;
  top: 56.07%;
  bottom: 43.93%;

  border: 5px solid #000000;
  transform: rotate(-0.46deg);
}

.stateSelection{
  position: relative;
}

.svgContainer{
  position: relative;
  width: 100%;
  height: 100%;
}

.stateSVG {
  height: 83px;
  width: 75px;
  /* transform: scale(2); */
}

.supportIcon {
  height: 40px;
}

.homeIcon {
  height: 40px;
}

.selectBoxes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cityInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerAbove {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cls-1 {
  fill: aquamarine;
  stroke: black;
  stroke-dasharray: 3;
  /* transform: scale(2); */
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*-------------------------------------- STATES ----------------------------------- */
.alabama {
  position: absolute;
  width: 72.54px;
  height: 116.06px;
  left: 913.82px;
  top: 1003.79px;
}

.alaska{
  position: absolute;
  width: 176px;
  height: 175px;
  left: 315px;
  top: 1177px;
}

.arizona{
  position: absolute;
  width: 129.45px;
  height: 148.42px;
  left: 267.69px;
  top: 927.91px;
}
.arkansas{
  position: absolute;
  width: 91.51px;
  height: 85.93px;
  left: 749.77px;
  top: 985.94px;
}
.california{
  position: absolute;
  width: 154px;
  height: 254.43px;
  left: 107px;
  top: 734.85px;
}
.colorado{
  position: absolute;
  width: 137.26px;
  height: 106.01px;
  left: 433.97px;
  top: 834.17px;
}
.connecticut{
  position: absolute;
  width: 34.59px;
  height: 30.13px;
  left: 1206.19px;
  top: 662.32px;
}
.delaware{
  position: absolute;
  width: 22.32px;
  height: 34.59px;
  left: 1218.46px;
  top: 801.81px;
}
.florida{
  position: absolute;
  width: 172.97px;
  height: 133.91px;
  left: 961.8px;
  top: 1123.2px;
}
.georgia{
  position: absolute;
  width: 102.67px;
  height: 107.13px;
  left: 977.42px;
  top: 999.33px;
}
.hawaii{
  position: absolute;
  width: 151px;
  height: 101px;
  left: 115px;
  top: 1134px;
}
.idaho{
  position: absolute;
  width: 113.82px;
  height: 181.9px;
  left: 275.51px;
  top: 570.81px;
}
.illinois{
  position: absolute;
  width: 78.11px;
  height: 132.8px;
  left: 835.7px;
  top: 771.68px;
}
.indiana{
  position: absolute;
  width: 59.14px;
  height: 101.55px;
  left: 929.44px;
  top: 756.05px;
}
.iowa{
  position: absolute;
  width: 113.82px;
  height: 74.77px;
  left: 727.46px;
  top: 753.82px;
}
.kansas{
  position: absolute;
  width: 141.72px;
  height: 75.88px;
  left: 577.92px;
  top: 874.34px;
}
.kentucky{
  position: absolute;
  width: 133.91px;
  height: 73.65px;
  left: 913.82px;
  top: 840.87px;
}
.maine{
  position: absolute;
  width: 68.07px;
  height: 108.25px;
  left: 1222.93px;
  top: 486px;
}
.maryland{
  position: absolute;
  width: 85.93px;
  height: 65.84px;
  left: 1137px;
  top: 807.39px;
}
.massachusetts{
  position: absolute;
  width: 58.03px;
  height: 32.36px;
  left: 1222.93px;
  top: 621.03px;
}
.michigan{
  position: absolute;
  /* width: 74.77px; */
  height: 140.55px;
  left: 860.45px;
  top: 590.3px;
}
.minnesota{
  position: absolute;
  width: 137.26px;
  height: 146.19px;
  left: 716.3px;
  top: 588.67px;
}
.mississppi{
  position: absolute;
  width: 69.19px;
  height: 116.06px;
  left: 835.7px;
  top: 1009.37px;
}
.missouri{
  position: absolute;
  width: 126.1px;
  height: 112.71px;
  left: 736.38px;
  top: 855.37px;
}
.montana{
  position: absolute;
  width: 195.29px;
  height: 120.52px;
  left: 359.2px;
  top: 570.81px;
}
.nebraska{
  position: absolute;
  width: 155.11px;
  height: 75.88px;
  left: 564.53px;
  top: 771.68px;
}
.nevada{
  position: absolute;
  width: 109px;
  height: 163px;
  left: 206px;
  top: 765px;
}
.newHampshire{
  position: absolute;
  width: 32.36px;
  height: 64.72px;
  left: 1211.77px;
  top: 566.35px;
}
.newJersey{
  position: absolute;
  width: 25.67px;
  height: 52.45px;
  left: 1201.73px;
  top: 732.62px;
}
.newMexico{
  position: absolute;
  width: 131.68px;
  height: 137.26px;
  left: 411.65px;
  top: 950.23px;
}
.newYork{
  position: absolute;
  width: 142.84px;
  height: 109.36px;
  left: 1071.16px;
  top: 610.98px;
}
.northCarolina{
  position: absolute;
  width: 160.69px;
  height: 74.77px;
  left: 999.74px;
  top: 930.14px;
}
.northDakota{
  position: absolute;
  width: 123.87px;
  height: 80.35px;
  left: 580.15px;
  top: 590.9px;
}
.ohio{
  position: absolute;
  width: 80.35px;
  height: 90.39px;
  left: 988.58px;
  top: 725.92px;
}
.oklahoma{
  position: absolute;
  width: 168.51px;
  height: 84.81px;
  left: 568.99px;
  top: 977.01px;
}
.oregon{
  position: absolute;
  width: 152.88px;
  height: 124.98px;
  left: 114.81px;
  top: 621.03px;
}
.pennsylvania{
  position: absolute;
  width: 107.13px;
  height: 71.42px;
  left: 1080.09px;
  top: 717px;
}
.rhodeIsland{
  position: absolute;
  width: 17.85px;
  height: 20.09px;
  left: 1251.94px;
  top: 661.2px;
  
}
.southCarolina{
  position: absolute;
  width: 94.85px;
  height: 73.65px;
  left: 1084.55px;
  top: 1024.99px;
}
.southDakota{
  position: absolute;
  width: 133.91px;
  height: 82.58px;
  left: 574.57px;
  top: 691.33px;
}
.tennessee{
  position: absolute;
  width: 161.81px;
  height: 58.03px;
  left: 856.9px;
  top: 927.91px;
}
.texas{
  position: absolute;
  width: 260.01px;
  height: 253.32px;
  left: 477.49px;
  top: 1019.41px;
}
.utah{
  position: absolute;
  width: 106.01px;
  height: 131.68px;
  left: 317.91px;
  top: 791.76px;
}
.vermont{
  position: absolute;
  width: 33.48px;
  height: 63.61px;
  left: 1179.41px;
  top: 574.16px;
}
.virginia{
  position: absolute;
  width: 137.26px;
  height: 89.27px;
  left: 1047.73px;
  top: 838.63px;
}
.washington{
  position: absolute;
  width: 128.33px;
  height: 89.27px;
  left: 159.45px;
  top: 538.45px;
}
.westVirginia{
  position: absolute;
  width: 87.04px;
  height: 75.88px;
  left: 1049.96px;
  top: 788.42px;
}
.wisconsin{
  position: absolute;
  /* width: 148.42px; */
  height: 116.84px;
  left: 831.19px;
  top: 640.98px;
}
.wyoming{
  position: absolute;
  width: 131.68px;
  height: 108.25px;
  left: 410.53px;
  top: 704.72px;
}
